<p id="notice"><%= notice %></p>

<h1>Listing Cars</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Color</th>
      <th>Price</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %></td>
        <td><%= car.color %></td>
        <td><%= car.price %></td>
        <td><%= car.year %></td>
        <td><%= link_to 'Visualizar', car %></td>
        <td><%= link_to 'Editar', edit_car_path(car) %></td>
        <td><%= link_to 'Apagar', car, method: :delete, data: { confirm: 'Você tem certeza disto? <br /> Esta exclusão é irreversivel.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo', new_car_path %>
