<% if user_signed_in? %>
  <li><%= link_to 'Editar Conta', edit_user_registration_path %></li>
  <li><%= link_to 'Carros', cars_path %></li>
  <li><%= link_to 'Usuários', users_path %></li>
<% else %>
  <li><%= link_to 'Registrar', new_user_registration_path %></li>
  <li><%= link_to 'Login', new_user_session_path %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Deslogar', destroy_user_session_path, :method=>'delete' %></li>
<% end %>